<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newstyle.css') }}">


    <script rel="text/javascript" src="{{ url_for('static', filename='js/vue.js') }}"></script>
    <script rel="text/javascript" src="{{ url_for('static', filename='js/axios.min.js') }}"></script>

    <script rel="text/javascript" src="{{ url_for('static', filename='js/Chart-2.8.0.js') }}"></script>
    <script type="module" src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
</head>
<body>

<template>
    <div class="container">
        <line-chart
                v-if="loaded"
                :chartdata="chartdata"
                :options="options"/>
    </div>
</template>

<script>
    import LineChart from '{{ url_for('static', filename='js/Chart.vue') }}'

    export default {
        name: 'LineChartContainer',
        components: { LineChart },
        data: () => ({
            loaded: false,
            chartdata: null
        }),
        async mounted () {
            this.loaded = false
            try {
                const { userlist } = await fetch('/api/1.0/get_user_hours?mach_id=2&user_id=1&year=2018&month=12')
                this.chartdata = userlist
                this.loaded = true
            } catch (e) {
                console.error(e)
            }
        }
    }
</script>
<div class="container on">


    <div class="screen" id="app-4">

        <div class="tbl">
            <table id="main_table">
                <tr>
                    <td>Total users</td>
                    <td align="center">{{ total_users }}</td>
                </tr>
                <tr>
                    <td>Total machines</td>
                    <td align="center">{{ total_mach }}</td>
                </tr>
                <tr>
                    <td>Current date</td>
                    <td align="center">{{ date }}</td>
                </tr>
            </table>
        </div>
        {% raw %}

        <div class="title2">
            <h3 class="title2">HackLab T.U.M.</h3>
            <h3 class="title2">Tools-Users Monitor</h3>
        </div>
        <div class="box--line">
        </div>


        <h3 class="title">
            <a @click="showDiv(1)" href="#" :class="{'selected': div1show == true}">Graph per user</a>
            <a @click="showDiv(2)" href="#" :class="{'selected': div2show == true}">Summery</a>
            <a @click="showDiv(3)" href="#" :class="{'selected': div3show == true}">Log as text</a>
        </h3>
        <div class="box--line">
        </div>


        <div class="box">
            <div class="box-left"></div>
            <div class="box-content">

                <div v-show="div1show">
                    <div class="b-c-l">


                        <div id="main">
                                <div class="overthrow description">

                                    <p v-for="user in users">
                                        <a href="#"
                                           :class="{ selected: selUserID == user.id }"
                                           @click="selUserID = user.id"
                                        >{{ user.name }}</a>
                                    </p></div>
                        </div>


                    </div>
                    <div class="b-c-r">
					<div class="date-panel">
						<div class="years">
                        <p v-for="year in yearsList">
                            <a href="#" @click="selYear = year" :class="{ selected: selYear == year }" >{{ year }}</a>
                        </p>
						</div>
						<div class="months">
                        <p v-for="month, index in monthList">
                            <a href="#" @click="selMonth = index" :class="{ selected: selMonth == index }" >{{ month }}</a>
                        </p>
						</div>
                        <div style="width:640px">
                            <canvas id="myChart"></canvas>
					    </div>
					</div>

                    </div>
                </div>


                <div v-show="div2show">
                    <div class="b-c-l">
                        <p v-for="mach in machines">
                            <a href="#"
                               :class="{ selected: selMachID == mach.id }"
                               @click="selMachID = mach.id">{{ mach.name }}</a>
                        </p>
                    </div>
                    <div class="b-c-r">
sfsdf

                    </div>
                </div>


                <div v-show="div3show">
                    <div class="b-c-l">
                        <p v-for="mach in machines">
                            <a href="#"
                               :class="{ selected: selMachID == mach.id }"
                               @click="loadLog(mach.id)">{{ mach.name }}</a>
                        </p>
                    </div>
                    <div class="b-c-r">

                                <div class="overthrow description">
                                    <table class="log-data">
                                        <thead>
                                        <tr>
                                            <th>
                                                <p>usr</p>
                                            </th>
                                            <th>
                                                <p>date</p>
                                            </th>
                                            <th>
                                                <p>status</p>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="text in logData">
                                            <td>
                                                {{ text.usr }}
                                            </td>
                                            <td>
                                                {{ text.dt }}
                                            </td>
                                            <td>
                                                {{ text.status }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>


                                </div>


                    </div>
                </div>

            </div>
            <div class="box-right"></div>
        </div>


        {% endraw %}

        <div class="box--line">
        </div>


        <!-- Start running your app -->
        {% block main_content %} {% endblock %}


    </div>
</div>

<script rel="text/javascript" src="{{ url_for('static', filename='js/overthrow.min.js') }}"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script rel="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: 'hours',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
</body>
</html>




