<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cyberpunk 2077 — from the creators of The Witcher 3: Wild Hunt</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/red.css') }}">
<meta name="apple-mobile-web-app-title" content="Cyberpunk 2077 — from the creators of The Witcher 3: Wild Hunt">
<meta name="application-name" content="Cyberpunk 2077 — from the creators of The Witcher 3: Wild Hunt">
<meta name="description" content="Enter the world of Cyberpunk 2077 — a story-driven, open world RPG of the dark future from CD PROJEKT RED, creators of The Witcher series of games.">
<meta property="og:locale" content="en_US">
<meta property="og:locale:alternate" content="ru_RU">
<meta property="og:locale:alternate" content="de_DE">
<meta property="og:locale:alternate" content="pl_PL">
<meta property="og:locale:alternate" content="en_US">
<meta property="og:locale:alternate" content="fr_FR">
<meta property="og:locale:alternate" content="es_ES">
<meta property="og:locale:alternate" content="es_MX">
<meta property="og:locale:alternate" content="it_IT">
<meta property="og:locale:alternate" content="ja_JP">
<meta property="og:locale:alternate" content="ko_KR">
<meta property="og:locale:alternate" content="zh_CN">
<meta property="og:locale:alternate" content="zh_TW">
<meta property="og:type" content="website">
<meta property="og:title" content="Cyberpunk 2077 — from the creators of The Witcher 3: Wild Hunt">
<meta property="og:description" content="Enter the world of Cyberpunk 2077 — a story-driven, open world RPG of the dark future from CD PROJEKT RED, creators of The Witcher series of games.">
<meta property="og:site_name" content="Cyberpunk 2077 — from the creators of The Witcher 3: Wild Hunt">
<meta property="og:image" content="https://www.cyberpunk.net/img/4b1d760d1ce7081d/social-thumbnail-en.7.jpg">
<meta property="og:url" content="https://www.cyberpunk.net/en/quadra">
<link rel="canonical" href="https://www.cyberpunk.net/en/quadra">
<link href="{{ url_for('static', filename='css/css.css') }}" rel="stylesheet">


<meta name="msapplication-TileColor" content="#000">
<meta name="theme-color" content="#000">

<script>
    isMobile = (typeof isMobile === 'undefined') ? (/mobile/i.test(navigator.userAgent) && ('ontouchstart' in window || (window.DocumentTouch && document instanceof DocumentTouch))) : isMobile;
</script>
</head>
<body>

<div class="container on">

<div class="screen">
<h3 class="title">
        ERROR!
</h3>
<div class="box--outer">
<div class="box"><div class="box--inner"><div class="content"><div class="holder"><div class="row"></div><div class="row"></div>
				  <div class="row">
					  <img src="{{ url_for('static', filename='img/error.gif') }}"/>

				  </div>



				  </div></div></div></div></div></div></div>

<script
		src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
		crossorigin="anonymous"></script>

				  </body>

</html>